body {
    background-color: #446647;
	margin: 80px;
	border: 2px solid white;
	padding: 30px;
	display: inline-block;
}
h1 {
	color: white;
	font-size: 50px;
	font-weight: bold;
	font-family: 'Comic Sans MS';
}
a {
    color: white; 
	font-size: 30px;
	font-weight: bold;
}
a:hover {
    color: #34573f;
}
