html {
    overflow-y: scroll;
}

body {
    background-image: url("../galeria/images/bgwydarzenia.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#header {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rgb(51, 51, 51);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

#tytul {
    position: absolute;
    left: 7%;
    top: 10%;
    font-size: 40px;
    font-family: rubik, helvetica, arial, sans-serif;
    font-weight: bold;
}

#kart {
    position: absolute;
    left: 45%;
    top: 10%;
    font-size: 40px;
    font-family: rubik, helvetica, arial, sans-serif;
}

#bulwary {
    text-align: center;
    position: absolute;
    left: 80%;
    top: 10%;
    font-size: 20px;
    font-family: rubik, helvetica, arial, sans-serif;
}

#icon {
    float: left;
    width: 750px;
    position: absolute;
    left: 3%;
    top: 5px;
}

img {
    width: 50px;
    height: auto;
}

#main {
    position: absolute;
    left: 20%;
    top: 25%;
    height: 105%;
	width: 60%;
	float: center;
    background: rgba(51, 51, 51, 0.5);
    z-index: 2;
}

#logo {
    text-align: center;
    left: 2%;
    top: 9%;
    position: absolute;
    font-size: 60px;
    font-family: rubik, helvetica, arial, sans-serif;
    font-weight: bold;
    color: #fff;
    padding: 2%;
    z-index: 3;
}

#nav {
    font-size: 20px;
    font-family: rubik, helvetica, arial, sans-serif;
    position: absolute;
    left: 58%;
    top: 34.5%;
    width: 30%;
    z-index: 3;
    padding-right: 15px;
    top: 40%;
}

a {
    color: #fff;
    text-decoration: none;
}

#left {
    font-size: 20px;
    font-family: rubik, helvetica, arial, sans-serif;
    color: #fff;
    position: absolute;
    width: 30%;
    height: 48%;
    top: 77%;
    left: 21%;
    z-index: 3;
    padding: 10px;
    background: rgba(255, 0, 0, 0.2);
}

.dopiska {
    position: absolute;
    top: 93%;
    left: 35%;
    font-size: 15px
}

#right {
    font-weight: bold;
    font-size: 30px;
    font-family: rubik, helvetica, arial, sans-serif;
    color: #fff;
    position: absolute;
    width: 23%;
    height: 97%;
    top: 28%;
    left: 55%;
    z-index: 3;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.2);
}

.kajak {
    width: 90%;
    height: auto;
    position: relative; 
}

.pływadła {
    width: 90%;
    height: auto;
    position: relative;
    margin-top: 10%;
}

.odkrywcy {
    width: 90%;
    height: auto;
    position: relative; 
    margin-top: 10%;
}


#footer {
    position: absolute;
    width: 98.97%;
    height: 20%;
    top: 140%;
    left: 0%;
    z-index: 3;
    padding: 10px;
    clear: both;
	background: #333;
}

#komentarz {
    position: absolute;
    top: 145%;
    left: 78%;
    z-index: 3;
    font-size: 20px;
    font-family: rubik, helvetica, arial, sans-serif;
    color: #fff;
    padding: 10px;
}

#iconbig img {
    width: 10%;
    height: auto;
    position: absolute;
    left: 3%;
}

.copyright {
    position: absolute;
    left: 13%;
    top: 80%;
    color: #fff;
    font-family: rubik, helvetica, arial, sans-serif;
    font-size: 15px;
}

#polecane {
    position: absolute;
    left: 10%;
    font-size: 30px;
    font-family: rubik, helvetica, arial, sans-serif;
    color: #fff;
    text-align: center;
}

.jeden {
    width: 15%;
    height: auto;
}

.dwa {
    width: 17.5%;
    height: auto;
}

.trzy {
    width: 7%;
    height: auto;
}

.cztery {
    width: 15%;
    height: auto;
}

.wybor {
    float:left;
    padding: 10px;
    height: 15px;
    margin-right: 5%;
    margin-bottom: 2%;
    position: relative;
    right: 20%;
    background: red;
}

.wybor :hover {
    font-weight: bold;
}

#aktualnosc1 img {
    width: 90%;
    height: auto;
    position: absolute;
    top: 12%;
    left: 5%;
}

#aktualnosc2 img {
    width: 90%;
    height: auto;
    position: absolute;
    top: 57%;
    left: 5%;
}

.s {
    position: relative;
    top: -7%;
    text-align: center;
}

.link {
    width: 45%;
    font-family: rubik, helvetica, arial, sans-serif;
    color: #fff;
    background: rgba(51,51,51,0.2);
    border: 5px #fff solid;
    position: relative;
    left: 2%;
    top: 43%;
    padding: 1%;
}